workspace/.tooling/acme-marketing-prod-p-products-v1d9ac80a1-75fd-4187-9244-37bfcac7017a/acme-marketing-prod-p-products-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="acme-marketing-prod-p-products-v1-main">
        <http:listener config-ref="acme-marketing-prod-p-products-v1-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="acme-marketing-prod-p-products-v1-config" />
    </flow>
    <flow name="acme-marketing-prod-p-products-v1-console">
        <http:listener config-ref="acme-marketing-prod-p-products-v1-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="acme-marketing-prod-p-products-v1-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\products\(id):application\json:acme-marketing-prod-p-products-v1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="put:\products\(id):application\json:acme-marketing-prod-p-products-v1-config" />
    </flow>
    <flow name="delete:\products\(id):acme-marketing-prod-p-products-v1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="delete:\products\(id):acme-marketing-prod-p-products-v1-config" />
    </flow>
    <flow name="get:\products:acme-marketing-prod-p-products-v1-config">
		<flow-ref doc:name="Flow Reference to get-products" doc:id="178af340-3f73-4461-ad5f-46bbb4abf3d7" name="get-products"/>
    </flow>
    <flow name="post:\products:application\json:acme-marketing-prod-p-products-v1-config">
		<flow-ref doc:name="Flow Reference to post-products-publish" doc:id="10d9243c-b48c-40fa-bb3d-163862065387" name="post-products-publish"/>
    </flow>
    <flow name="post:\products\(id)\review:application\json:acme-marketing-prod-p-products-v1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="post:\products\(id)\review:application\json:acme-marketing-prod-p-products-v1-config" />
    </flow>
</mule>
