workspace/.tooling/acme-marketing-prod-p-products-v1d9ac80a1-75fd-4187-9244-37bfcac7017a/channels/post-products.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<flow name="post-products-channel" doc:id="67122cd6-ea58-4ca5-a071-4cd93790bb99" >
		<anypoint-mq:subscriber doc:name="Subscriber" doc:id="80e90377-205c-45dd-9426-1119c05212d2" config-ref="Anypoint_MQ_Config" destination="${acme-products-queue.name}"/>
		<validation:is-true doc:name="Is true" doc:id="3219c7a4-11c3-463c-b9af-6e7eced5351f" expression="true" message='#[attributes.properties.notification == "true" default false]'/>
		<scatter-gather doc:name="Scatter-Gather" doc:id="b3427b9e-64e0-4e80-945a-6077f9acc189" >
			<route >
				<flow-ref doc:name="Flow Reference to sf-elasticsearch-client-poducts-post" doc:id="2aeec838-3d42-4616-8d97-abe0726c8aa7" name="sf-elasticsearch-client-poducts-post"/>
			</route>
			<route >
				<flow-ref doc:name="Flow Reference" doc:id="49bd25fd-2257-45ed-b3c1-57688ea18a73" />
			</route>
		</scatter-gather>
		<choice doc:name="Choice" doc:id="d4d9a6d6-dba6-400b-b7d3-531a030e8915" >
			<when expression='#[attributes.properties.notification == "true" default false]'>
				<flow-ref doc:name="Flow Reference" doc:id="7cf1174c-ea28-4f90-a291-c056eaf0314f" />
			</when>
		</choice>
	</flow>
</mule>
